.checkoutProduct {
  display: flex;
  margin: 20px 0px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 100px;
  height: 180px;
  padding: 10px;
}

.checkoutProduct__rating {
  display: flex;
}


.checkoutProduct__title {
  font-size: 15px;
  font-weight: 800;
  margin-top: -20px;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
